.bodyCell {
    &:global(.MuiTableCell-root) {
        font-weight: 700;
        font-size: rem(14);
        line-height: 171%;
        color: var(--color-dark-blue);
        border-bottom: none;
    }
}