@font-face {
    font-family: 'DM Sans';
    font-weight: 700;
    src: url('/src/assets/fonts/DMSans_18pt-Bold.woff2') format('woff2'),
}

@font-face {
    font-family: 'DM Sans';
    font-weight: 500;
    src: url('/src/assets/fonts/DMSans_18pt-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'DM Sans';
    font-weight: 400;
    src: url('/src/assets/fonts/DMSans_18pt-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    src: url('/src/assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    src: url('/src/assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
}