@use './fonts';

:root {
    --font-family: "DM Sans", sans-serif;
    --second-family: "Plus Jakarta Sans", sans-serif;

    --color-light: #ffffff;
    --color-background: #f4f7fe;
    --color-dark-blue: #2b3674;
    --color-blue: #4318FF;
    --color-light-green: #05cd99;
    --color-red: #ff0000;
    --color-light-grey: #a3aed0;
}