@use './fonts';

:root {
    --font-family: "DM Sans", sans-serif;
    --second-family: "Plus Jakarta Sans", sans-serif;

    --color-light: #ffffff;
    --color-background: #f4f7fe;
    --color-dark-blue: #2b3674;
}