.listCards {
    margin: fluid(12, 20) 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: fluid(12, 20);

    @media (max-width: 1700px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 852px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.card {
    display: flex;
    align-items: center;
    padding-left: fluid(12, 20);
    gap: fluid(12, 18);
    width: 100%;
    min-width: 0;
    min-height: fluid(75, 95);

    border-radius: rem(20);
    background: var(--color-light);

    @media (max-width: 1700px) {
        padding: 0 fluid(10, 20);
        justify-content: space-between;
    }
}

.cardImg {
    width: fluid(30, 56);
    height: fluid(30, 56);
}

.rightSide {
    display: flex;
    align-items: center;
    margin-left: fluid(0, 15);
    margin-right: rem(3);
    gap: rem(6);
}

.cardDetails {
    margin: 0;

    @media (max-width: 1700px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: rem(5);
    }

    @media (max-width: 1100px) {
        flex-direction: column;
    }
}

.cardTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: fluid(8, 14);
    line-height: 171%;
    letter-spacing: -0.02em;
    color: #a3aed0;
    white-space: nowrap;
    margin: 0;
}

.cardValue {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: fluid(10, 24);
    line-height: 133%;
    letter-spacing: -0.02em;
    color: var(--color-dark-blue);
    white-space: nowrap;
    margin: 0;
}

.change {
    display: flex;
    gap: 4px;
}

.changePercent {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: fluid(10, 12);
    line-height: 167%;
    letter-spacing: -0.02em;
    color: #05cd99;
}

.changeText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: fluid(10, 12);
    line-height: 167%;
    letter-spacing: -0.02em;
    color: #a3aed0;
}

.selectWrapper {
    position: relative;
}

.dropdown {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;

    padding-right: rem(20);

    font-family: var(--font-family);
    font-weight: 700;
    font-size: rem(14);
    color: var(--color-dark-blue);

    cursor: pointer;
}

.selectArrow {
    position: absolute;
    top: 50%;
    right: 0;

    width: rem(12);
    height: rem(12);

    transform: translateY(-50%);
    pointer-events: none;
}