.sidebar {
    width: rem(310);
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    background: #fff;
    border-radius: 0 0 rem(20) 0;
}

.title {
    margin: rem(55) 0;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: rem(26);
    line-height: 1;
    color: var(--color-dark-blue);
    text-align: center;

    span {
        font-weight: 400;
    }
}

.separator {
    width: 100%;
    height: 1px;

    background-color: var(--color-background);
}

.list {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    padding-top: rem(38);
    padding-left: rem(31);
}

.link {
    display: flex;
    align-items: center;
    gap: rem(12);

    transition: all 0.3s ease;
}

.icon {
    color: #a3aed0;
    fill: currentColor;

    transition: all 0.3s ease;
}

.subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(16);
    line-height: 1.88;
    letter-spacing: -0.02em;
    color: #a3aed0;

    transition: all 0.3s ease;
}

.linkActive {
    font-weight: 700;
    color: var(--color-dark-blue);
}

.linkActiveIcon {
    color: #4318ff;
    fill: currentColor;
}

.pro {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: auto;
    padding: rem(25) rem(31);
}

.proIcon {
    display: block;
}

.getProIcon {
    position: absolute;
    top: rem(75);
    left: rem(125);

    display: block;
    pointer-events: none;
}