.headerDashboard {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 34px;
    line-height: 124%;
    letter-spacing: -0.02em;
    color: #2b3674;
}