.dropdown {
    position: absolute;

    transform: translateX(-25px);
}

.btnDelet {
    z-index: 5;

    white-space: nowrap;
    font-weight: 700;
    font-size: rem(12);
    line-height: 171%;
    color: var(--color-dark-blue);
    border: 1px solid var(--color-light-grey);
    border-radius: rem(30);
    padding: rem(5);

    &:hover {
        background-color: var(--color-light-grey);
    }
}